/* Slider-1 Thumb and Track */
.slider-1-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2563eb; /* Tailwind blue-600 */
    cursor: pointer;
    border: 2px solid #dbeafe; /* Tailwind blue-50 */
}

.slider-1-thumb::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #bfdbfe; /* Tailwind blue-300 */
}

.slider-1-thumb::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2563eb;
    cursor: pointer;
    border: 2px solid #dbeafe;
}

.slider-1-thumb::-moz-range-track {
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #bfdbfe;
}

/* Slider-2 Thumb and Track */
.slider-2-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #1e40af; /* Tailwind sky-900 */
    cursor: pointer;
    border: 3px solid #fff; /* Optional: adds a white border */
}

.slider-2-thumb::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #93c5fd; /* Tailwind sky-300 */
}

.slider-2-thumb::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #1e40af;
    cursor: pointer;
    border: 3px solid #fff;
}

.slider-2-thumb::-moz-range-track {
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #93c5fd;
}
